@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-size: 12pt;
    font-family:'Times New Roman', Times, serif;
}



h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */
 /* Your comment goes here */

header {
    background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

header h1 {
    width:40rem;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
/* Started the lab here */
.ingredient {
    font-weight: bold;
    color: red;
}
#burger-list {
    background-color: black;
    color:white;
    padding: 20px;
    border: 5px dashed rgb(69, 11, 11);
    border-radius: 5px;
}
button:hover {
    background-color: purple; 
    cursor: pointer; 
    color: #ffcc00;
}
.burger-item {
    margin: 20px; /* ger space mellan burgarna */
    padding: 10px; /* ger space inuti varje burger item */
    border-radius: 5px; /* ger rundare kant*/
}
#order-info{
    border:2px dashed black;
    padding: 20px;
}
.header-part {
    margin: 0 15px; /* Add equal left and right margins */
    position: relative; /* Set this to allow absolute positioning of child elements */
    
}
.header-part h1 {
    position: absolute; /* Position the headline absolutely */
    top: 70px; /* Adjust this value as needed */
    left: 100px; /* Adjust this value as needed */
    color: black; /* Ensure text is readable against the image */
    z-index: 1; /* Ensure it appears above the image */
}
.header-image img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    opacity: 0.5;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* Change to 3 equal columns */
    background-color: black;
    color: #444;
}

.burger-card {
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
}
